.main-container {
    background-color: whitesmoke;
    height: 100%;
    padding-top: 50px;
}

.card-container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid grey;
}

.tree-container {
    height: 370px;
    overflow: auto;
    background-color: white;
    padding: 50px 50px 0px 50px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    background-color: white;
}